.navbar
{
  background-image: none !important;
  font-size: 115%;
  /* height: 60px; */
}

.navbar-brand
{
  font-size: 125%;
  position: relative;
  /* top: 4px; */
}

.navbar-nav
{
  font-size: 110%;
  position: relative;
  /* top: 4px; */
}

.divider-vertical
{
  height: 52px;
  margin: 0 0px;
  border-left: 1px solid  #eee;
  border-right: 1px solid #eee;
}

.bigger
{
  font-size: 40px;
  color: #666;
}

.less-bigger
{
  font-size: 25px;
  color: #888;
}

#map
{
  height: 500px;
  background-color: grey;
}
