.navbar, .navbar-brand
{
  background-image: none !important;
  font-size: 125%;
  height: 60px;
}

.navbar-nav a
{
  font-size: 110%;
  position: relative;
  top: 6px;
}

.divider-vertical
{
  height: 60px;
  margin: 0 12px;
  border-left: 1px solid  #eee;
  border-right: 1px solid #eee;
}

.bigger
{
  font-size: 40px;
  color: #666;
}
